DATABASE_URL="postgresql://postgres:<YourPassword>@localhost:<Port>/<db_name>"


AADHAAR_SALT="generate_a_random_64_char_hex_string"
# You can use this command in the terminal to generate a salt
# python -c "import secrets; print(secrets.token_hex(32))"

# AWS Credentials
SNS_ARN="<YourSNSARN>"
AWS_SECRET_ACCESS_KEY="<YourSecretKey>"
AWS_ACCESS_KEY_ID="<YourAccessKey>"


# SMTP Credentials
SMTP_SERVER="smtp.gmail.com"  # I prefered this
SMPT_PORT="<Port>"
SMTP_USER="<Gmail_Account_Email_ID>"
SMTP_PASSWORD="<Gmail_App_Password>"
