DATABASE_URL="postgresql://postgres:<YourPassword>@localhost:<Port>/<db_name>"

# AWS Credentials
SNS_ARN="<YourSNSARN>"
AWS_SECRET_ACCESS_KEY="<YourSecretKey>"
AWS_ACCESS_KEY_ID="<YourAccessKey>"


# SMTP Credentials
SMTP_SERVER="smtp.gmail.com"  # I prefered this
SMPT_PORT="<Port>"
SMTP_USER="<Gmail_Account_Email_ID>"
SMTP_PASSWORD="<Gmail_App_Password>"
